@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100;700&display=swap');


html,body {
    font-family: 'Antonio', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0px;
}
header{
    background: linear-gradient(90deg, black, grey);
    background-position: center;
    background-size: cover;
}
.eng{
    position: relative;
    min-height: 100vh;
}

h3{
    padding-top: 20px;
    font-size: 20pt;
}

.content4{
    width: 90%;
    margin: auto;
    font-size: 20px;
}
img{
    max-width: 200px;
    float: right;
    width: 70%;
    padding: 56px 20px 20px 10px;
}

footer{
    padding: 15px 0px 5px 0px;
    text-align: center;
    background: linear-gradient(90deg, black, grey);
    color: white;
    margin: 0px; 
}
footer a{
    font-size: 10pt;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all ease-in-out 200ms;
}
footer a:hover{
    color: black;
}
footer p{
    font-size: 10pt;
}
.meili{
    color: black;
}
.buttons{
    min-width: 350px;
    max-width: 350px;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 25px;
}
.button a{
    text-decoration: none;
    color: white;
}
.button {
    font-family: 'Antonio', sans-serif;
    border-radius: 4px;
    background: linear-gradient(90deg, black, grey);
    border: white solid;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 350px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  @media only screen and (max-width: 650px){
   
    .eng .content4{
        width: 90%;
        font-size: 18px;
    }
    .content4{
        padding-top: 56px;
    }
    header{
        background: linear-gradient(90deg, black, grey, black);
        background-position: center;
        background-size: cover;
    }
    footer{
        padding: 15px 0px 5px 0px;
        text-align: center;
        background: linear-gradient(90deg, black, grey, black);
        color: white;
        margin: 0px; 
    }
    img{
        margin-top: 165px;
        max-width: 200px;
        float: right;
    }
    .buttons{
        padding-top: 10px; 
    }
  }

  @media only screen and (min-width: 650px) and (max-width: 1200px){
    
    .eng .content4{
        width: 75%;
        font-size: 20px;
    }
    .content4{
        padding-top: 56px;
    }
    header{
        background: linear-gradient(90deg, black, grey, black);
        background-position: center;
        background-size: cover;
    }
    footer{
        padding: 15px 0px 5px 0px;
        text-align: center;
        background: linear-gradient(90deg, black, grey, black);
        color: white;
        margin: 0px; 
    }
    img{
        margin-top: 165px;
        max-width: 290px;
        padding-right: 100px;
        float: right;
    }
    .buttons{
        padding-top: 80px; 
    }
  }

  @media only screen and (min-width: 1200px){
    
    .eng .content4{
        padding-right: 450px;
        width: 28%;
        font-size: 22px;
    } 
    .content4{
        padding-top: 56px;
    }
    header{
        background: linear-gradient(90deg, black, grey, black);
        background-position: center;
        background-size: cover;
    }
    footer{
        padding: 15px 0px 5px 0px;
        text-align: center;
        background: linear-gradient(90deg, black, grey, black);
        color: white;
        margin: 0px; 
    }
    img{
        margin-top: 165px;
        max-width: 400px;
        padding-right: 300px;
        float: right;
    }
    .buttons{
        padding-top: 38px;
    }
  }